# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Logs
*.log

# Docker environment files
*.env

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE specific files
.idea/
.vscode/

# System files
.DS_Store
Thumbs.db

#downloads
downloads/